# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\proiect2021\SecKill\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
